@page "{id:int?}"
@model CinemaWebApp.Pages.Sessions.CreateModel
@{
}
<p>@Model.MovieInfo?.Title</p>
<h2> Add New Session</h2>
<form method="post">
    <div class="mb-3">
        <label for="inputDataSession" class="form-label">DataSession</label>
        <input type="date" class="form-control" id="inputDataSession" name="DateSession">
     </div>
    <div class="mb-3">
        <label for="inputTimeSession" class="form-label">TimeSession</label>
        <input type="time" class="form-control" id="inputTimeSession" name="TimeSession">
    </div>
    <div class="mb-3">
         <input  class="form-control" id="inputId" name="IdMovie" type="hidden" value=@Model.IdMovie>
     </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>@Model.Message</p>